extends layouts/base

block content
	.HeroSection(style="background-image: url('../img/bitcoin.jpg')")
		.Container
			h1.HeroSection_title.HeroSection_title-uppercase Криптообменник в Черногории
			.HeroSection_desc
				p Лучшее место, где можно купить #[br.hidden-smMinus]и продать криптовалюту #[br]с наличными деньгами. #[br.hidden-mdPlus]А &nbsp;также обменять рубли, #[br.hidden-smPlus]гривны.
			.HeroSection_note
				p Безопасная покупка/#[br.hidden-smPlus]продажа #[br]на выгодных условиях. #[br.hidden-xs]SWIFT, MasterCard переводы #[br.hidden-smMinus]с карты на карту от 30 000 €.
			.HeroSection_btnWrapper
				a(href="#").BtnOrange.BtnOrange-heroSection Оставить заявку
	.CurrencyBlocks
		.Container
			//- .CurrencySwiper.swiper-container.CurrencyBlocks_swiper.hidden-mdPlus
			//- 	.swiper-wrapper
			//- 		.swiper-slide.CurrencySwiper_slide
			//- 			.CurrencyBlock
			//- 				.CurrencyBlock_info
			//- 					.CurrencyBlock_logo
			//- 						img(src="/img/currencies/bitcoin.png" alt="Bitcoin").CurrencyBlock_logoImg
			//- 					.CurrencyBlock_name Bitcoin
			//- 					.CurrencyBlock_abbr BTC
			//- 				.CurrencyBlock_prices
			//- 					.CurrencyBlock_price $ 27,746.8
			//- 					.CurrencyBlock_difference -1.29%
			//- 		.swiper-slide.CurrencySwiper_slide
			//- 			.CurrencyBlock
			//- 				.CurrencyBlock_info
			//- 					.CurrencyBlock_logo
			//- 						img(src="/img/currencies/ethereum.png" alt="Ethereum").CurrencyBlock_logoImg
			//- 					.CurrencyBlock_name Ethereum
			//- 					.CurrencyBlock_abbr ETH
			//- 				.CurrencyBlock_prices
			//- 					.CurrencyBlock_price $ 1,851.98
			//- 					.CurrencyBlock_difference -0.35%
			//- 		.swiper-slide.CurrencySwiper_slide
			//- 			.CurrencyBlock
			//- 				.CurrencyBlock_info
			//- 					.CurrencyBlock_logo
			//- 						img(src="/img/currencies/tether.png" alt="Tether").CurrencyBlock_logoImg
			//- 					.CurrencyBlock_name Tether
			//- 					.CurrencyBlock_abbr USDT
			//- 				.CurrencyBlock_prices
			//- 					.CurrencyBlock_price $ 27,746.8
			//- 					.CurrencyBlock_difference -1.29%
			//- 		.swiper-slide.CurrencySwiper_slide
			//- 			.CurrencyBlock
			//- 				.CurrencyBlock_info
			//- 					.CurrencyBlock_logo
			//- 						img(src="/img/currencies/euro.png" alt="Euro").CurrencyBlock_logoImg
			//- 					.CurrencyBlock_name Euro
			//- 					.CurrencyBlock_abbr EUR
			//- 				.CurrencyBlock_prices
			//- 					.CurrencyBlock_price $ 27,746.8
			//- 					.CurrencyBlock_difference -1.29%
			.CurrencyBlocks_items
				.CurrencyBlock.CurrencyBlocks_item
					.CurrencyBlock_info
						.CurrencyBlock_logo
							img(src="/img/currencies/bitcoin.png" alt="Bitcoin").CurrencyBlock_logoImg
						.CurrencyBlock_name Bitcoin
						.CurrencyBlock_abbr BTC
					.CurrencyBlock_prices
						.CurrencyBlock_price $ 27,746.8
						.CurrencyBlock_difference -1.29%
				.CurrencyBlock.CurrencyBlocks_item
					.CurrencyBlock_info
						.CurrencyBlock_logo
							img(src="/img/currencies/ethereum.png" alt="Ethereum").CurrencyBlock_logoImg
						.CurrencyBlock_name Ethereum
						.CurrencyBlock_abbr ETH
					.CurrencyBlock_prices
						.CurrencyBlock_price $ 1,851.98
						.CurrencyBlock_difference -0.35%
				.CurrencyBlock.CurrencyBlocks_item
					.CurrencyBlock_info
						.CurrencyBlock_logo
							img(src="/img/currencies/tether.png" alt="Tether").CurrencyBlock_logoImg
						.CurrencyBlock_name Tether
						.CurrencyBlock_abbr USDT
					.CurrencyBlock_prices
						.CurrencyBlock_price $ 27,746.8
						.CurrencyBlock_difference -1.29%
				.CurrencyBlock.CurrencyBlocks_item
					.CurrencyBlock_info
						.CurrencyBlock_logo
							img(src="/img/currencies/euro.png" alt="Euro").CurrencyBlock_logoImg
						.CurrencyBlock_name Euro
						.CurrencyBlock_abbr EUR
					.CurrencyBlock_prices
						.CurrencyBlock_price $ 27,746.8
						.CurrencyBlock_difference -1.29%
	.ExchangeRateSection
		.Container.ExchangeRateSection_container
			.ExchangeRateSection_text
				p Актуальный курс #[br]обмена в нашем #[br]Telegram канале
			a(href="#").BtnBlue.BtnBlue-subscribe.ExchangeRateSection_btn Подписаться
	.SalesSection
		.Container
			.SalesSection_inner
				.Tabs
					ul.Tabs_list
						li.Tabs_item.Tabs_item-active Купить
						li.Tabs_item Продать
					.Tabs_container
						.Tabs_content(style="display: block;")
							form(action="#").SalesForm
								.SalesForm_items
									.SalesForm_item
										label(for="purchase_amount").SalesForm_label Я хочу заплатить
										.SalesForm_itemWrapper
											input(type="number" name="sum" id="purchase_amount" value="").SalesForm_text
											.SalesForm_selectWrapper
												select(name="purchase_currency" id="purchase_currency" data-placeholder="------").Select.Select-currencies.SalesForm_select
													option
													option(value="usdt" data-icon="/img/currencies/dropdown/tether.png") USDT
													option(value="bitcoin" data-icon="/img/currencies/dropdown/bitcoin.png") Bitcoin
													option(value="ethereum" data-icon="/img/currencies/dropdown/ethereum.png") Ethereum
									.SalesForm_item
										label(for="purchase_result_amount").SalesForm_label Я получу
										.SalesForm_itemWrapper
											input(type="number" name="sum" id="purchase_result_amount" value="").SalesForm_text
											.SalesForm_selectWrapper
												select(name="purchase_result_currency" id="purchase_result_currency" data-placeholder="------").Select.Select-currencies.SalesForm_select
													option
													option(value="usdt" data-icon="/img/currencies/dropdown/tether.png") USDT
													option(value="bitcoin" data-icon="/img/currencies/dropdown/bitcoin.png") Bitcoin
													option(value="ethereum" data-icon="/img/currencies/dropdown/ethereum.png") Ethereum
								.SalesForm_actions
									button(type="button").BtnBlue.BtnBlue-salesForm.SalesForm_calcBtn Рассчитать
									button(type="submit").BtnOrange.BtnOrange-salesForm.SalesForm_submitBtn Оставить заявку
						.Tabs_content
							form(action="#").SalesForm
								.SalesForm_items
									.SalesForm_item
										label(for="sale_amount").SalesForm_label Я хочу заплатить
										.SalesForm_itemWrapper
											input(type="number" name="sum" id="sale_amount" value="").SalesForm_text
											.SalesForm_selectWrapper
												select(name="sale_currency" id="sale_currency" data-placeholder="------").Select.Select-currencies.SalesForm_select
													option
													option(value="usdt" data-icon="/img/currencies/dropdown/tether.png") USDT
													option(value="bitcoin" data-icon="/img/currencies/dropdown/bitcoin.png") Bitcoin
													option(value="ethereum" data-icon="/img/currencies/dropdown/ethereum.png") Ethereum
									.SalesForm_item
										label(for="sale_result_amount").SalesForm_label Я получу
										.SalesForm_itemWrapper
											input(type="number" name="sum" id="sale_result_amount" value="").SalesForm_text
											.SalesForm_selectWrapper
												select(name="sale_result_currency" id="sale_result_currency" data-placeholder="------").Select.Select-currencies.SalesForm_select
													option
													option(value="usdt" data-icon="/img/currencies/dropdown/tether.png") USDT
													option(value="bitcoin" data-icon="/img/currencies/dropdown/bitcoin.png") Bitcoin
													option(value="ethereum" data-icon="/img/currencies/dropdown/ethereum.png") Ethereum
								.SalesForm_actions
									button(type="button").BtnBlue.BtnBlue-salesForm.SalesForm_calcBtn Рассчитать
									button(type="submit").BtnOrange.BtnOrange-salesForm.SalesForm_submitBtn Оставить заявку
	.AdvantagesSection
		.Container
			//- .AdvantagesSwiper.swiper-container.AdvantagesSection_swiper.hidden-mdPlus
			//- 	.swiper-wrapper.AdvantagesSwiper_slides
			//- 		.swiper-slide.AdvantagesSwiper_slide
			//- 			.AdvantageBox.AdvantagesSwiper_item
			//- 				.AdvantageBox_iconWrapper
			//- 					img(src="/img/advantages/security.png" alt="").AdvantageBox_icon
			//- 				.AdvantageBox_textWrapper
			//- 					h3.AdvantageBox_title Безопасно #[br.hidden-xs]и надежно
			//- 					.AdvantageBox_text
			//- 						p Наличие машинки для проверки купюр в офисе Будвы. Безопасные крипто переводы.
			//- 		.swiper-slide.AdvantagesSwiper_slide
			//- 			.AdvantageBox.AdvantagesSwiper_item
			//- 				.AdvantageBox_iconWrapper
			//- 					img(src="/img/advantages/benefit.png" alt="").AdvantageBox_icon
			//- 				.AdvantageBox_textWrapper
			//- 					h3.AdvantageBox_title Выгодно #[br.hidden-xs]и быстро
			//- 					.AdvantageBox_text.AdvantageBox_text-small
			//- 						p Минимально возможная комиссия за услуги. Перевод/#[br]обналичивание в день заявки.
			//- 		.swiper-slide.AdvantagesSwiper_slide
			//- 			.AdvantageBox.AdvantagesSwiper_item
			//- 				.AdvantageBox_iconWrapper
			//- 					img(src="/img/advantages/money_transfers.png" alt="").AdvantageBox_icon
			//- 				.AdvantageBox_textWrapper
			//- 					h3.AdvantageBox_title Переводы #[br.hidden-xs]по Европе
			//- 					.AdvantageBox_text.AdvantageBox_text-small
			//- 						p Переводы  из Черногории в страны: РФ, ОАЭ, Украина, Италия, Чехия, Германия. Комиссия 3-6 %.
			.AdvantagesSection_items
				.AdvantageBox.AdvantagesSection_item
					.AdvantageBox_iconWrapper
						img(src="/img/advantages/security.png" alt="").AdvantageBox_icon
					.AdvantageBox_textWrapper
						h3.AdvantageBox_title Безопасно #[br.hidden-xs.hidden-mdPlus]и надежно
						.AdvantageBox_text
							p Наличие машинки для проверки купюр в офисе Будвы. Безопасные крипто переводы.
				.AdvantageBox.AdvantageBox-benefit.AdvantagesSection_item
					.AdvantageBox_iconWrapper
						img(src="/img/advantages/benefit.png" alt="").AdvantageBox_icon
					.AdvantageBox_textWrapper
						h3.AdvantageBox_title Выгодно #[br.hidden-xs.hidden-mdPlus]и быстро
						.AdvantageBox_text.AdvantageBox_text-small
							p Минимально возможная комиссия за услуги. Перевод/#[br.hidden-mdPlus]обналичивание #[br.hidden-smMinus]в день заявки.
				.AdvantageBox.AdvantagesSection_item
					.AdvantageBox_iconWrapper
						img(src="/img/advantages/money_transfers.png" alt="").AdvantageBox_icon
					.AdvantageBox_textWrapper
						h3.AdvantageBox_title Переводы #[br.hidden-xs.hidden-mdPlus]по Европе
						.AdvantageBox_text.AdvantageBox_text-small
							p Переводы  из Черногории в страны: РФ, ОАЭ, Украина, Италия, Чехия, Германия. Комиссия 3-6 %.
	.ConsultSection
		.Container
			h2.ConsultSection_title Остались вопросы? #[br]Получите бесплатную консультацию
			.ConsultSection_text
				p Оставьте свой вопрос или завку #[br.hidden-smPlus]на консультацию #[br]и наш специалист свяжется с вами
			.ConsultForm.ConsultSection_form
				.ConsultForm_items
					.ConsultForm_item
						label(for="name").ConsultForm_label Ваше имя #[span.Red *]
						input(type="text" name="name" id="name").ConsultForm_text
					.ConsultForm_item
						label(for="phone").ConsultForm_label Ваш номер телефона #[span.Red *]
						input(type="tel" name="phone" id="phone").ConsultForm_text
					.ConsultForm_item.ConsultForm_item-textArea
						label(for="question").ConsultForm_label Напишите свой вопрос, если он есть
						textarea(name="question" id="question").ConsultForm_textArea
				.ConsultForm_actions
					button(type="submit").BtnBlue.ConsultForm_submitBtn Оставить заявку
	.StatisticsSection
		.Container
			//- .StatisticsSwiper.swiper-container.StatisticsSection_swiper.hidden-mdPlus
			//- 	.swiper-wrapper
			//- 		.swiper-slide.StatisticsSwiper_slide
			//- 			.StatisticsBox
			//- 				.StatisticsBox_iconWrapper
			//- 					img(src="/img/statistics/buyers.png" alt="").StatisticsBox_icon
			//- 				h3.StatisticsBox_title 11.200
			//- 				.StatisticsBox_text
			//- 					p Покупателей
			//- 		.swiper-slide.StatisticsSwiper_slide
			//- 			.StatisticsBox
			//- 				.StatisticsBox_iconWrapper
			//- 					img(src="/img/statistics/transactions.png" alt="").StatisticsBox_icon
			//- 				h3.StatisticsBox_title 15.360
			//- 				.StatisticsBox_text
			//- 					p Транзакций
			//- 		.swiper-slide.StatisticsSwiper_slide
			//- 			.StatisticsBox
			//- 				.StatisticsBox_iconWrapper
			//- 					img(src="/img/statistics/consultations.png" alt="").StatisticsBox_icon
			//- 				h3.StatisticsBox_title 2.570
			//- 				.StatisticsBox_text
			//- 					p Консультаций
			.StatisticsSection_items
				.StatisticsBox.StatisticsSection_item
					.StatisticsBox_iconWrapper
						img(src="/img/statistics/buyers.png" alt="").StatisticsBox_icon
					h3.StatisticsBox_title 11.200
					.StatisticsBox_text
						p Покупателей
				.StatisticsBox.StatisticsSection_item
					.StatisticsBox_iconWrapper
						img(src="/img/statistics/transactions.png" alt="").StatisticsBox_icon
					h3.StatisticsBox_title 15.360
					.StatisticsBox_text
						p Транзакций
				.StatisticsBox.StatisticsSection_item
					.StatisticsBox_iconWrapper
						img(src="/img/statistics/consultations.png" alt="").StatisticsBox_icon
					h3.StatisticsBox_title 2.570
					.StatisticsBox_text
						p Консультаций
	.OfferSection
		.Container
			.OfferSection_inner
				h2.OfferSection_title Купить недвижимость #[br]в Черногории за #[br.hidden-mdPlus]криптовалюту
				.OfferSection_text
					p GOCOINS лидер в сфере имущества, #[br]чтобы помочь своим клиентам легко инвестировать в недвижимость.
					p Более 10 000 предложений на побережье Черногории которые можно купить за Bitcoin или другую цифровую валюту.
				a(href="#").BtnOrange.BtnOrange-offerSection.OfferSection_btn Узнать подробнее
	.AboutSection
		.Container
			.AboutSection_text
				p #[strong GOCOINS] - криптообменник в Черногории, Будва. Безопасная покупка/продажа к #[br]от 1000 €  на выгодных условиях. SWIFT, MasterCard переводы с карту на карту от 30 000 €. #[br]Если вам нужно быстро и надежно обменять цифровую валюту или отправить деньги #[br]из Черногории в другую страну, просто оставьте заявку на нашем сайте или позвоните #[br]нам на любой месседжер Whatsapp, Wiber, Telegram
	.FormResult#FormResult(style="display: none;")
		h2.FormResult_title Спасибо!
		.FormResult_text
			p Ваша заявка отправлена! #[br]Мы свяжемся с вами в ближайшее время
		button(data-fancybox-close).BtnOrange.BtnOrange-formResult.FormResult_btn Готово