extends layouts/base

block content
	.HeroSection.HeroSection-property(style="background-image: url('../img/property.jpg')")
		.Container
			h1.HeroSection_title Купить недвижимость в Черногории за криптовалюту
			.HeroSection_desc
				p GOCOINS - ведущий криптовалютный внебиржевой обменник для покупки недвижимости за биткоин в Черногории.
			.HeroSection_note
				p Безопасные сделки купли-продажи недвижимости в Черногории на выгодных условиях.
			//- .HeroSection_btnWrapper
			//- 	a(href="#").BtnOrange.BtnOrange-heroSection Оставить заявку
	.InfoSection
		.Container
			.InfoSwiper.swiper-container.InfoSection_swiper.hidden-mdPlus
				.swiper-wrapper.InfoSwiper_slides
					.swiper-slide.InfoSwiper_slide
						.InfoBox.InfoSwiper_item
							.InfoBox_imgWrapper
								img(src="/img/infoblocks/calc.png" alt="Выберете недвижимость").InfoBox_img
							h3.InfoBox_title Выберете недвижимость
							.InfoBox_text
								p Выберите недвижимость, которую вы хотите приобрести. Для этого нужно перейти на наш сайт с недвижимостью по ссылке ниже “Смотреть каталог”
					.swiper-slide.InfoSwiper_slide
						.InfoBox.InfoSwiper_item
							.InfoBox_imgWrapper
								img(src="/img/infoblocks/people.png" alt="Получите бесплатную консультацию").InfoBox_img
							h3.InfoBox_title Получите бесплатную консультацию
							.InfoBox_text
								p Свяжитесь с нами через форму заявки или по номеру телефона. Также есть WhatsApp, Telegram, Viber
					.swiper-slide.InfoSwiper_slide
						.InfoBox.InfoSwiper_item
							.InfoBox_imgWrapper
								img(src="/img/infoblocks/buying.png" alt="Заключите сделку").InfoBox_img
							h3.InfoBox_title Заключите сделку
							.InfoBox_text
								p Как только сделка будет закрыта, вы сможете перевести сумму через биткоин для покупки выбранной вами недвижимости.
			.InfoSection_items.hidden-smMinus
				.InfoBox.InfoSection_item
					.InfoBox_imgWrapper
						img(src="/img/infoblocks/calc.png" alt="Выберете недвижимость").InfoBox_img
					h3.InfoBox_title Выберете недвижимость
					.InfoBox_text
						p Выберите недвижимость, которую вы хотите приобрести. Для этого нужно перейти на наш сайт с недвижимостью по ссылке ниже “Смотреть каталог”
				.InfoBox.InfoSection_item
					.InfoBox_imgWrapper
						img(src="/img/infoblocks/people.png" alt="Получите бесплатную консультацию").InfoBox_img
					h3.InfoBox_title Получите бесплатную консультацию
					.InfoBox_text
						p Свяжитесь с нами через форму заявки или по номеру телефона. Также есть WhatsApp, Telegram, Viber
				.InfoBox.InfoSection_item
					.InfoBox_imgWrapper
						img(src="/img/infoblocks/buying.png" alt="Заключите сделку").InfoBox_img
					h3.InfoBox_title Заключите #[br]сделку
					.InfoBox_text
						p Как только сделка будет закрыта, вы сможете перевести сумму через биткоин для покупки выбранной вами недвижимости.
			.InfoSection_btnWrapper
				a(href="#").BtnOrange.BtnOrange-infoSection.InfoSection_btn Перейти в каталог #[br]недвижимости
	.ConsultSection
		.Container
			h2.ConsultSection_title Остались вопросы? #[br]Получите бесплатную консультацию
			.ConsultSection_text
				p Оставьте свой вопрос или завку #[br.hidden-smPlus]на консультацию #[br]и наш специалист свяжется с вами
			.ConsultForm.ConsultSection_form
				.ConsultForm_items
					.ConsultForm_item
						label(for="name").ConsultForm_label Ваше имя #[span.Red *]
						input(type="text" name="name" id="name").ConsultForm_text
					.ConsultForm_item
						label(for="phone").ConsultForm_label Ваш номер телефона #[span.Red *]
						input(type="tel" name="phone" id="phone").ConsultForm_text
					.ConsultForm_item.ConsultForm_item-textArea
						label(for="question").ConsultForm_label Напишите свой вопрос, если он есть
						textarea(name="question" id="question").ConsultForm_textArea
				.ConsultForm_actions
					button(type="submit").BtnBlue Оставить заявку