:root
	--base-font 'Textbook New Web', arial, helvetica, sans-serif
	--open-sans 'Open Sans', sans-serif
	--orange #FBAA06
	--grey #D9D9D9
	--black #000
	--dark #333
	--white #FFF
	--blue #0C549E
	--red #FF0A12