:root
	--base-font 'Textbook New Web', arial, helvetica, sans-serif
	--open-sans 'Open Sans', sans-serif
	--orange #FBAA06
	--grey #D9D9D9
	--black #000
	--dark #333
	--white #FFF
	--blue #0C549E
	--red #FF0A12

// START: layout vars
$xxs = '(max-width: 575px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1199px)'
$sm = '(min-width: 768px) and (max-width: 1199px)'
$smPlus = '(min-width: 768px)'
$mdPlus = '(min-width: 1200px)'
$lgMinus = '(max-width: 1365px)'
$md = '(min-width: 1200px) and (max-width: 1365px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1366px) and (max-width: 1919px)'
$lgPlus = '(min-width: 1366px)'
$xlPlus = '(min-width: 1920px)'