.AboutSection
	padding 42px 0 30px
	background #06091E
	color var(--white)
	font-size 9px
	line-height 11px
	
	@media $smPlus
		padding 53px 0
		font-size 21px
		line-height 1.236190476190476
	
	&_text
		padding 0 30px 0 23px
		
		@media $smPlus
			padding 0 120px 0 94px