.AdvantagesSection
	padding 42px 0
	background #06091E
	
	@media $smPlus
		padding 48px 0
	
	@media $mdPlus
		padding 70px 0 44px
	
	&_swiper
		margin-right -17px
		margin-left -17px
	
	&_items
		display grid
		grid-template-columns repeat(3, 1fr)
		gap 30px
		margin-left -19px