.AdvantageBox
	width 181px
	padding 21px 18px 19px
	border-radius 10px
	background #E8E3E3
	
	&_iconWrapper
		display flex
		justify-content center
		align-items center
		height 83px
		margin-bottom 12px
	
	&_icon
		max-height 100%
	
	&_title
		margin-bottom 21px
		color #333
		font-size 20px
		text-align center
	
	&_text
		color #717375
		// font-size 16px