.BtnOrange
	display inline-flex
	justify-content center
	align-items center
	padding 6px 22px
	border none
	outline none
	background var(--orange)
	color var(--white)
	border-radius 20px
	font-size 12px
	font-family var(--base-font)
	text-transform uppercase
	text-decoration none
	cursor pointer
	@extend .Transition
	
	@media $smPlus
		font-size 16px
	
	&:hover
		background #E49C08
	
	&-heroSection
		font-size 15px
		
		@media $smPlus
			padding 10px 15px
			font-size 20px
			line-height 1.236
		
		@media $mdPlus
			padding 8px 23px
			font-size 25px
	
	&-salesForm
		padding-right 11px
		padding-left 11px
		
		@media $smPlus
			padding 8px 25px
			font-size 25px
			line-height 1.236
	
	&-offerSection
		padding-right 14px
		padding-left 14px
		text-transform none
		font-family var(--open-sans)
		
		@media $smPlus
			padding 18px 37px
			border-radius 50px
			font-size 25px
			line-height 1.362
	
	&-infoSection
		padding 4px 33px
		text-align center
		
		@media $smPlus
			padding 11px 51px
			border-radius 50px
			font-size 20px
		
		@media $mdPlus
			padding 11px 56px
	
	&-formResult
		padding 12px 27px
		font-size 15px
		font-family var(--open-sans)
		text-transform none