.ConsultSection
	padding 5px 0 30px
	background #06091E
	
	&_title,
	&_text
		text-align center
	
	&_title
		// margin-bottom 24px
		margin-bottom 20px
		color var(--white)
		font-weight 700
		font-size 18px
	
	&_text
		margin-bottom 24px
		color #B6B6B6
		font-size 15px