.ConsultForm
	&_item
		& + .ConsultForm_item
			margin-top 19px
			
	&_label
		display block
		margin-bottom 5px
		color #B6B6B6
		font-size 12px
		cursor pointer
	
	&_text,
	&_textArea
		width 100%
		padding-right 10px
		padding-left 10px
		border none
		outline none
		border-radius 5px
		background #E0DEDF
		font-size 15px
		font-family var(--base-font)
	
	&_text
		height 43px
	
	&_textArea
		height 112px
		padding-top 8px
		padding-bottom 8px
		resize none
	
	&_actions
		margin-top 19px
		text-align center