.ConsultForm
	@media $smPlus
		width 629px
	
	&_items
		display grid
		grid-template-columns 100%
		gap 19px
		
		@media $smPlus
			grid-template-columns repeat(2, 1fr)
			gap 11px 30px
	
	&_item
		&-textArea
			@media $smPlus
				grid-column 1 / 3
			
	&_label
		display block
		margin-bottom 5px
		color #B6B6B6
		font-size 12px
		cursor pointer
		
		@media $smPlus
			margin-bottom 7px
			font-size 25px
			line-height 1.236
	
	&_text,
	&_textArea
		width 100%
		padding-right 10px
		padding-left 10px
		border none
		outline none
		border-radius 5px
		background #E0DEDF
		font-size 15px
		font-family var(--base-font)
		@extend .Transition
		
		&:focus
			background #FFF
	
	&_text
		height 43px
	
	&_textArea
		height 112px
		padding-top 8px
		padding-bottom 8px
		resize none
		
		@media $smPlus
			height 168px
	
	&_actions
		margin-top 19px
		text-align center
		
		@media $smPlus
			margin-top 26px