.CurrencyBlock
	width 181px
	padding 28px 26px 36px
	background #E8E3E3
	border-radius 10px
	font-size 20px
	line-height 1.236
	
	@media $smPlus
		width 168px
		// padding 22px 27px 22px
		padding 22px 10px 22px 20px
	
	@media $mdPlus
		width 257px
		padding 30px 22px 33px
	
	&_info
		display grid
		// grid-template-columns auto 1fr
		grid-template-columns 40px 1fr
		align-items center
		column-gap 15px
		margin-bottom 15px
		
		@media $mdPlus
			margin-bottom 25px
	
	&_logo
		grid-row 1 / 3
	
	&_logoImg
		vertical-align middle
	
	&_name
		margin-bottom 4px
	
	&_prices
		@media $mdPlus
			display grid
			grid-template-columns repeat(2, auto)
			justify-content space-between
			margin-right 9px
			margin-left 4px
	
	&_price
		margin-bottom 2px
		font-size 22px
	
	&_difference
		color #717375