.CurrencyBlocks
	padding 12px 0
	background var(--black)
	
	@media $mdPlus
		padding 20px 0
	
	&_swiper
		margin-right -17px
		margin-left -17px
	
	&_items
		display grid
		grid-template-columns repeat(4, 1fr)
		gap 27px
		margin-right -17px
		padding-right 17px
		margin-left -17px
		padding-left 17px
		overflow auto
		
		// @media $smPlus
			// margin-right 0
			// margin-left 0
			// padding-right 0
			// padding-left 0