.Footer
	padding 3px 0 40px
	background #06091E
	
	@media $smPlus
		padding 53px 5px 80px 32px
	
	@media $mdPlus
		padding 43px 0 81px
	
	&_container
		@media $smPlus
			display grid
			grid-template-columns repeat(2, auto)
			justify-content space-between
			align-items start
			gap 20px
	
	&_secondaryMenu,
	&_contacts
		margin-bottom 12px
	
	&_contactsWrapper
		@media $smPlus
			display grid
			grid-template-columns 100%
			justify-items end
		
		@media $mdPlus
			margin-right 15px
	
	&_social
		@media $smPlus
			margin-right 12px
		
		@media $mdPlus
			margin-right 27px