.FormResult
	width 240px
	padding 34px 12px 28px
	border-radius 20px
	background #E8E3E3
	text-align center
	
	@media $smPlus
		padding 28px
		width 594px
	
	&_title
		margin-bottom 14px
		font-size 25px
		
		@media $smPlus
			margin-bottom 18px
			font-size 40px
	
	&_text
		margin-bottom 15px
		font-size 18px
		
		@media $smPlus
			margin-bottom 17px
			font-size 30px