.Header
	padding 20px 0 16px
	
	&_container
		display grid
		grid-template-columns repeat(4, auto)
		justify-content space-between
		align-items start
	
	&_select
		margin-top 2px
	
	&_menuHamburger
		margin-top 2px