.HeroSection
	padding 24px 0
	background var(--black) url('../img/bitcoin.jpg') calc(50% + 20px) 57px / 582px no-repeat
	
	@media $smPlus
		padding 34px 29px 45px
		background-position center 2px
		background-size cover
	
	@media $mdPlus
		padding 50px 0 66px
		background-position 49.3% 0
		background-size auto 120%
	
	&_title
		width 255px
		margin-bottom 12px
		color var(--orange)
		font-weight 700
		font-size 25px
		line-height 1.2
		text-transform uppercase
		
		@media $smPlus
			width 355px
			margin-bottom 16px
			font-size 35px
			line-height 1.142857142857143
		
		@media $mdPlus
			margin-bottom 15px
			font-size 40px
			line-height 1
	
	&_desc,
	&_note
		font-weight 300
		font-size 13px
		line-height 1.236154
	
	&_desc
		width 180px
		margin-bottom 20px
		margin-left 2px
		color var(--white)
		
		@media $smPlus
			width 282px
			margin-bottom 19px
			margin-left 0
			font-size 20px
		
		@media $mdPlus
			width 370px
			margin-bottom 24px
			font-size 26px
	
	&_note
		width 158px
		margin-bottom 18px
		color #717375
		
		@media $smPlus
			width 253px
			margin-bottom 24px
			margin-left 4px
			font-size 20px
			line-height 1.236
		
		@media $mdPlus
			width 370px
			margin-bottom 36px
			margin-left 0
			font-size 26px
			line-height normal
	
	&_btnWrapper
		@media $xs
			text-align center