.HeroSection
	// padding 24px 0 36px
	padding 24px 0
	background var(--black) url('../img/bitcoin.jpg') calc(50% + 20px) 57px / 582px no-repeat
	
	&_title
		width 255px
		margin-bottom 12px
		color var(--orange)
		font-weight 700
		font-size 25px
		line-height 1.2
		text-transform uppercase
	
	&_desc,
	&_note
		font-weight 300
		font-size 13px
		line-height 1.236154
	
	&_desc
		width 180px
		margin-bottom 20px
		margin-left 2px
		color var(--white)
	
	&_note
		width 158px
		margin-bottom 18px
		color #717375
	
	&_btnWrapper
		text-align center