.Ico
  display inline-flex
  width 26px
  height 26px
  align-items center
  justify-content center
  padding 0
  background none
  border 0
  color inherit

  &::before
    background currentcolor
    width 100%
    height 100%
    content ""
    mask-size contain
    mask-repeat no-repeat
    mask-position center

  &-whatsapp
    color #46972d
    
    &::before
      mask-image url("../img/icons/social/whatsapp.svg")

  &-viber
    color #76539c
    
    &::before
      mask-image url("../img/icons/social/viber.svg")

  &-telegram
    color #54a2d4
    
    &::before
      mask-image url("../img/icons/social/telegram.svg")
      
  &-telegramWhite
    width 25px
    height 25px
    color #fff
    
    &::before
      mask-image url("../img/icons/social/telegram_white.svg")
      
  &-instagramWhite
    width 21px
    height 21px
    color #fff
    
    &::before
      mask-image url("../img/icons/social/instagram_white.svg")
      
  &-close
    color #101010
    
    &::before
      mask-image url("../img/icons/close.svg")