.SalesForm		
	&_item
		& + .SalesForm_item
			margin-top 19px
			
			@media $smPlus
				margin-top 39px
	
	&_label
		display block
		margin-bottom 3px
		color #B6B6B6
		font-weight 300
		font-size 10px
		
		@media $smPlus
			margin-bottom 4px
			font-size 25px
			line-height 1.236
	
	&_itemWrapper
		position relative
	
	&_text
		-moz-appearance textfield
		width 100%
		height 28px
		padding-right 100px
		padding-left 10px
		border none
		outline none
		border-radius 5px
		background var(--white)
		box-shadow 2px 2px 2px 0 rgba(0, 0, 0, 0.25)
		font-size 12px
		font-family var(--base-font)
		
		@media $smPlus
			height 62px
			padding-right 190px
			padding-left 17px
			font-size 24px
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button
			-webkit-appearance none
	
	&_selectWrapper
		position absolute
		top 2px
		right 13px
		
		@media $smPlus
			top 7px
			right 7px
	
	&_actions
		display flex
		justify-content center
		align-items center
		gap 22px
		margin-top 23px
		
		@media $smPlus
			gap 48px
			margin-top 48px