.SecondaryMenu
	&_item
		font-weight 700
		font-size 13px
		line-height normal
		
		@media $smPlus
			font-size 20px
			line-height 1.236
		
		@media $mdPlus
			font-size 25px
			line-height normal
		
	&_link
		color var(--white)
		text-decoration none
		@extend .Transition
		
		&:hover
			color darken(#fff, 20%)
			// text-decoration underline