.SecondaryMenu
	&_item
		font-weight 700
		font-size 13px
		line-height normal
		
		@media $smPlus
			font-size 20px
			line-height 1.236
		
	&_link
		color var(--white)
		text-decoration none
		
		&:hover
			text-decoration underline