.Social
	display grid
	grid-template-columns repeat(2, auto)
	justify-content start
	align-items center
	gap 27px
	color var(--white)
	
	@media $smPlus
		gap 30px
	
	&_title
		font-weight 400
		font-size 15px
		
		@media $smPlus
			font-size 30px
			line-height 1.236
	
	&_list
		list-style none
		display flex
		gap 7px
	
	&_item
		height 22px
		
		@media $smPlus
			height 38px