.Social
	display grid
	grid-template-columns repeat(2, auto)
	justify-content start
	gap 27px
	color var(--white)
	
	&_title
		font-weight 400
		font-size 15px
	
	&_list
		list-style none
		display flex
		// align-items baseline
		gap 7px
	
	&_item
		height 22px