.StatisticsBox
	width 181px
	padding 18px 10px
	border-radius 10px
	background #171C29
	color var(--orange)
	text-align center
	
	@media $smPlus
		// width 222px
		width auto
		padding 39px 10px
	
	@media $mdPlus
		// width 354px
		padding 39px 20px 33px
	
	&_iconWrapper
		display grid
		grid-template-columns 100%
		place-items center
		height 126px
		margin-bottom 20px
		
		@media $smPlus
			height 105px
			margin-bottom 32px
		
		@media $mdPlus
			height 150px
			margin-bottom 16px
	
	&_icon
		max-height 100%
	
	&_title
		font-weight 400
		font-size 50px
		
		@media $smPlus
			font-size 60px
			line-height 1.236
		
		@media $mdPlus
			margin-bottom -14px
			font-size 100px
			line-height 1
	
	&_text
		font-size 25px
		
		@media $smPlus
			font-size 30px
		
		@media $mdPlus
			font-size 45px