.StatisticsBox
	width 181px
	// padding 28px 16px
	padding 18px 10px
	border-radius 10px
	background #171C29
	color var(--orange)
	text-align center
	
	&_iconWrapper
		display flex
		justify-content center
		align-items center
		height 126px
		// margin-bottom 26px
		margin-bottom 20px
	
	&_icon
		max-height 100%
	
	&_title
		font-weight 400
		// font-size 60px
		font-size 50px
	
	&_text
		// font-size 30px
		font-size 25px