.StatisticsSection
	padding 25px 0
	background #06091E
	
	@media $smPlus
		padding 25px 0 70px
	
	@media $smPlus
		padding 75px 0 103px
	
	&_swiper
		margin-right -17px
		margin-left -17px
	
	&_items
		display grid
		grid-template-columns repeat(3, 1fr)
		gap 37px
		margin-left -28px