header.Header
	.Container.Header_container
		a(href="/").Logo
			img(src="/img/icons/star.svg" alt="").Logo_img
			.Logo_siteName GOCOINS
			.Logo_siteDesc криптообменник в Черногории
		.SocIcons
			ul.SocIcons_list
				li.SocIcons_item
					a(href="#").Ico.Ico-whatsapp.SocIcons_link
				li.SocIcons_item
					a(href="#").Ico.Ico-viber.SocIcons_link
				li.SocIcons_item
					a(href="#").Ico.Ico-telegram.SocIcons_link
		select.Select.Select-languages.Header_select
			option(value="ru" data-icon="/img/icons/ru.jpg") RU
			option(value="en" data-icon="/img/icons/en.jpg") EN
		button(type="button").MenuHamburger.Header_menuHamburger
			span.MenuHamburger_line
			span.MenuHamburger_line
			span.MenuHamburger_line