header.Header
	.Header_top
		.Container.Header_topContainer
			a(href="/" title="На главную").Logo.Header_logo
				img(src="/img/icons/star.svg" alt="").Logo_img
				.Logo_siteName GOCOINS
				.Logo_siteDesc криптообменник в Черногории
			.SocIcons.Header_socIcons
				ul.SocIcons_list
					li.SocIcons_item
						a(href="#").Ico.Ico-whatsapp.SocIcons_link
					li.SocIcons_item
						a(href="#").Ico.Ico-viber.SocIcons_link
					li.SocIcons_item
						a(href="#").Ico.Ico-telegram.SocIcons_link
			.Header_selectWrapper
				select.Select.Select-languages.Header_select(data-placeholder="Выберите язык")
					option(value="ru" data-icon="/img/icons/ru.jpg") RU
					option(value="en" data-icon="/img/icons/en.jpg") EN
			button(type="button").MenuHamburger.Header_menuHamburger.hidden-smPlus
				span.MenuHamburger_line
				span.MenuHamburger_line
				span.MenuHamburger_line
			a(href="tel:+38269777680").Phone.Phone-dark.hidden-smMinus.Header_phone + 382 69 777 680
	.MainMenu.hidden-xs
		ul.MainMenu_list
			li.MainMenu_item
				a(href="/exchange.html").MainMenu_link Как обменять?
			li.MainMenu_item
				a(href="/money_transfers.html").MainMenu_link Переводы денег по Европе
			li.MainMenu_item
				a(href="/property.html").MainMenu_link Недвижимость за криптовалюту
			li.MainMenu_item
				a(href="/about.html").MainMenu_link О нас