.MobileNavigation
	button(type="button").MobileNavigation_closeBtn
		span.Ico.Ico-close
	.MobileMenu
		ul.MobileMenu_list
			li.MobileMenu_item
				a(href="/exchange.html").MobileMenu_link.MobileMenu_link-active Как обменять?
			li.MobileMenu_item
				a(href="/money_transfers.html").MobileMenu_link Переводы денег по Европе
			li.MobileMenu_item
				a(href="/property.html").MobileMenu_link Недвижимость за криптовалюту
			li.MobileMenu_item
				a(href="/about.html").MobileMenu_link О нас