.MobileNavigation
	button(type="button").MobileNavigation_closeBtn
		span.Ico.Ico-close
	.MobileMenu
		ul.MobileMenu_list
			li.MobileMenu_item
				a(href="#").MobileMenu_link.MobileMenu_link-active Как обменять?
			li.MobileMenu_item
				a(href="#").MobileMenu_link Переводы денег по Европе
			li.MobileMenu_item
				a(href="#").MobileMenu_link Недвижимость за криптовалюту
			li.MobileMenu_item
				a(href="#").MobileMenu_link О нас